{% extends 'layouts/main/base_html_page.html.twig' %}

{% block body %}

  {% include 'layouts/main/parts/header.html.twig' %}

  <main>
    <b-container class="pt-5">
      <div>
        {% include 'layouts/main/parts/messages.html.twig' %}
      </div>

      {% block content %}{% endblock %}
    </b-container>
  </main>
{% endblock %}
